@use "./variables";
@use "./mixins";

.info {
  text-align: center;
  @include mixins.section;
  &__bar{
    width: 5rem;
    border-color: variables.$very-light-gray;
  }

  &__parameter {
    margin: 2rem auto;
  
    &:first-child{
      margin-top: 0;
    }
  }

  &__value, &__desc {
    margin: 0;
  }

  &__value {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: .8rem;
  }

  &__desc {
    @include mixins.description;
  }

  &__prog[value] {
    width: 100%;
    height: .7rem;
    border: none;
    border-radius: variables.$border-radius;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #eee;

    &::-webkit-progress-bar {
      background-color: #eee;
      border-radius: variables.$border-radius;

    }

    &::-webkit-progress-value {
      background-color: variables.$moderate-cyan;
      border-radius: variables.$border-radius;
    }

    &::-moz-progress-bar {
      border-radius: variables.$border-radius;
      background-color: variables.$moderate-cyan;

    }
  }
  
  @media all and (min-width: variables.$desktop-view) {

    &__values{
      display: flex;
      align-items: center;

    }
    &__bar{
      height: 5rem;
      width: 2px;
    }

    &__parameter {
      &:first-child{
        margin-top: 2rem;
      }
    }
  }
}

