@use "./variables";
@mixin description{
  color: variables.$light-gray;
  line-height: 1.4rem;
}

@mixin section{
  padding: max(2rem, 10%) max(8%, 1.5rem);
  background-color: #fff;
  border-radius: variables.$border-radius;
  border: 1px solid variables.$very-light-gray;
  @media all and (min-width: variables.$desktop-view) {


  }
;
}

@mixin button{
  border-radius: 4rem;
  height: 2.8rem;
  padding: 0 1.5rem;
  margin: 0;
  border: none;
  outline: none;
  background-color: variables.$moderate-cyan;
  color: white;
  font-size: .9rem;
  font-weight: 700;
  cursor: pointer;
  &:hover{
    background-color: variables.$dark-cyan;
  }
@media all and (min-width: variables.$desktop-view){
  width: 12rem;
}
}