$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
//$Dark-cyan: #147B74FF;

$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$light-gray: hsl(0, 0%, 50%);
$very-light-gray: hsla(0, 0%, 65%, 0.25);

$border-radius: 10px;
$max-width:40rem;

//$desktop-view: 1440px;
$desktop-view: 800px;