.header {
  display: flex;
  justify-content: space-between;
  padding: max(2rem, 6vw) max(8vw, 2.2rem);
  z-index: 10;
}
.header__logo {
  width: auto;
  height: 5vmin;
  max-height: 1.5rem;
}
.header__menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__close, .header__open {
  width: 4.2vmin;
  height: 4.2vmin;
  max-width: 1.8rem;
  max-height: 1.8rem;
}
.header__close svg, .header__open svg {
  width: 100%;
  height: 100%;
}
.header__close {
  position: absolute;
}
.header__menu {
  position: absolute;
  background-color: #fff;
  font-size: 1.1rem;
  width: 87%;
  margin: 15% auto;
  left: 0;
  right: 0;
  max-width: 40rem;
  border-radius: 10px;
  z-index: 1;
}
.header__menu-option {
  padding: 1.5rem;
  cursor: pointer;
  transition: scale 150ms ease;
}
.header__menu-option:active, .header__menu-option:focus {
  scale: 0.98;
}
.header__menu-option:nth-child(1), .header__menu-option:nth-child(2) {
  box-shadow: 0 2px 1px hsla(0deg, 0%, 65%, 0.25);
}
@media all and (min-width: 1440px) {
  .header {
    display: flex;
    align-items: center;
    padding: max(2rem, 2vw) max(10vw, 2.2rem);
    max-width: max(100rem, 60%);
    margin: auto;
  }
  .header__menu-icon {
    display: none;
  }
  .header__menu {
    position: relative;
    width: auto;
    left: auto;
    right: auto;
    margin: 0;
    top: 0;
    display: flex;
    background-color: transparent;
    color: white;
  }
  .header__menu-option {
    padding: 0.8rem;
  }
  .header__menu-option:nth-child(1), .header__menu-option:nth-child(2) {
    box-shadow: none;
  }
  .header__menu-option:active {
    scale: 0.9;
  }
}

.intro {
  text-align: center;
  padding: max(2rem, 10%) max(8%, 1.5rem);
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid hsla(0deg, 0%, 65%, 0.25);
  padding-top: 0;
}
.intro__logo {
  top: -2.4rem;
  width: 4.4rem;
  height: auto;
}
.intro__title {
  font-size: 1.5rem;
  margin: 0 5%;
}
.intro__desc {
  color: hsl(0deg, 0%, 50%);
  line-height: 1.4rem;
}
.intro__btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.7rem;
       column-gap: 0.7rem;
}
.intro__back-btn, .intro__bookmark-btn {
  border-radius: 4rem;
  height: 2.8rem;
  padding: 0 1.5rem;
  margin: 0;
  border: none;
  outline: none;
  background-color: hsl(176deg, 50%, 47%);
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}
.intro__back-btn:hover, .intro__bookmark-btn:hover {
  background-color: hsl(176deg, 72%, 28%);
}
@media all and (min-width: 1440px) {
  .intro__back-btn, .intro__bookmark-btn {
    width: 12rem;
  }
}
.intro__back-btn {
  flex-grow: 1;
  padding: 0 !important;
}
.intro__bookmark-btn {
  padding: 0;
  width: auto;
  min-width: 0;
}
.intro__bookmark-btn:hover {
  background-color: hsl(0deg, 0%, 50%);
}
.intro__bookmark-icon {
  height: 100%;
  width: auto;
}
.intro__bookmark-txt {
  display: none;
}
@media all and (min-width: 1440px) {
  .intro__logo {
    width: 4.8rem;
  }
  .intro__title {
    font-size: 1.7rem;
  }
  .intro__btns-container {
    margin-top: 2.5rem;
  }
  .intro__back-btn {
    flex-grow: 0;
  }
  .intro__bookmark-btn {
    border-radius: 4rem;
    height: 2.8rem;
    padding: 0 1.5rem;
    margin: 0;
    border: none;
    outline: none;
    background-color: hsl(176deg, 50%, 47%);
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    padding-left: 0;
    background-color: hsla(0deg, 0%, 65%, 0.25);
    color: hsl(0deg, 0%, 48%);
  }
  .intro__bookmark-btn:hover {
    background-color: hsl(176deg, 72%, 28%);
  }
}
@media all and (min-width: 1440px) and (min-width: 1440px) {
  .intro__bookmark-btn {
    width: 12rem;
  }
}
@media all and (min-width: 1440px) {
  .intro__bookmark-btn:hover {
    background-color: hsla(0deg, 0%, 65%, 0.25);
  }
}
@media all and (min-width: 1440px) {
  .intro__bookmark-txt {
    display: inline-block;
  }
}

.info {
  text-align: center;
  padding: max(2rem, 10%) max(8%, 1.5rem);
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid hsla(0deg, 0%, 65%, 0.25);
}
.info__bar {
  width: 5rem;
  border-color: hsla(0deg, 0%, 65%, 0.25);
}
.info__parameter {
  margin: 2rem auto;
}
.info__parameter:first-child {
  margin-top: 0;
}
.info__value, .info__desc {
  margin: 0;
}
.info__value {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.info__desc {
  color: hsl(0deg, 0%, 50%);
  line-height: 1.4rem;
}
.info__prog[value] {
  width: 100%;
  height: 0.7rem;
  border: none;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #eee;
}
.info__prog[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
}
.info__prog[value]::-webkit-progress-value {
  background-color: hsl(176deg, 50%, 47%);
  border-radius: 10px;
}
.info__prog[value]::-moz-progress-bar {
  border-radius: 10px;
  background-color: hsl(176deg, 50%, 47%);
}
@media all and (min-width: 1440px) {
  .info__values {
    display: flex;
    align-items: center;
  }
  .info__bar {
    height: 5rem;
    width: 2px;
  }
  .info__parameter:first-child {
    margin-top: 2rem;
  }
}

.products {
  padding: max(2rem, 10%) max(8%, 1.5rem);
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid hsla(0deg, 0%, 65%, 0.25);
}
.products__desc {
  color: hsl(0deg, 0%, 50%);
  line-height: 1.4rem;
}

.product {
  border: 1px solid hsla(0deg, 0%, 65%, 0.25);
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1.5rem auto;
  background-color: #fff;
}
.product__name {
  margin: 0;
  font-weight: 700;
  font-size: 1.2rem;
}
.product__price {
  color: hsl(176deg, 50%, 47%);
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.5rem 0 0;
}
.product__desc {
  color: hsl(0deg, 0%, 50%);
  line-height: 1.4rem;
}
.product__left {
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: hsl(0deg, 0%, 50%);
  margin: 0;
}
.product__left--value {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 0%);
}
.product__btn {
  border-radius: 4rem;
  height: 2.8rem;
  padding: 0 1.5rem;
  margin: 0;
  border: none;
  outline: none;
  background-color: hsl(176deg, 50%, 47%);
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1.5rem;
}
.product__btn:hover {
  background-color: hsl(176deg, 72%, 28%);
}
@media all and (min-width: 1440px) {
  .product__btn {
    width: 12rem;
  }
}
.product.disable::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5333333333);
  z-index: 1;
}
.product.disable .product__btn {
  background-color: hsl(0deg, 0%, 48%);
}

.backing-products {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  width: 100%;
  font-size: 0.9rem;
  top: -4%;
  z-index: 10;
  color: hsl(0deg, 0%, 50%);
  line-height: 1.4rem;
}
.backing-products__title {
  font-size: 1.2rem;
  color: black;
}
.backing-products__desc {
  color: hsl(0deg, 0%, 50%);
}
.backing-products__close {
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
}
.backing-products__close path {
  fill: black;
}
.backing-products__product {
  border: 2px solid hsla(0deg, 0%, 65%, 0.25);
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1.5rem 0;
}
.backing-products__product-indicator {
  width: 1.5rem;
  height: 1.5rem;
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  margin: 0;
}
.backing-products__product-indicator #inner {
  fill: transparent;
  transition: all 100ms ease-in-out;
}
.backing-products__product-indicator #outer {
  stroke-width: 2px;
}
.backing-products__product-name {
  font-size: 0.9rem;
  font-weight: 700;
  color: black;
  grid-column: 1/4;
  grid-row: 1/2;
  padding: 0;
  margin: 0 0 0.2rem 2.3rem;
}
.backing-products__product-price {
  color: hsl(176deg, 50%, 47%);
  font-weight: 700;
  font-size: 0.9rem;
  grid-column: 1/4;
  grid-row: 2/3;
  padding: 0;
  margin: 0 0 0 2.3rem;
}
.backing-products__product-desc {
  color: hsl(0deg, 0%, 50%);
  line-height: 1.4rem;
  grid-column: 1/4;
  grid-row: 3/4;
  margin: 1.3rem 0 1.7rem 0;
}
.backing-products__product-left {
  color: hsl(0deg, 0%, 50%);
  font-size: 1rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
  font-weight: 400;
  margin: 0;
  grid-column: 1/3;
  grid-row: 4/5;
}
.backing-products__product-left--value {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}
.backing-products__product-label {
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;
}
.backing-products__product-price-to-pay, .backing-products__product-continue {
  min-width: 4rem;
  width: 25vw;
  max-width: 9rem;
  height: 2.6rem;
  text-align: center;
  align-self: center;
  justify-self: center;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border: 2px solid hsl(176deg, 50%, 47%);
  font-size: 0.9rem;
  font-weight: 700;
}
.backing-products__product-price-to-pay {
  grid-column: 1/2;
  grid-row: 2/3;
}
.backing-products__product-price-to-pay svg {
  width: 0.5rem;
  height: autos;
  fill: hsl(0deg, 0%, 50%);
}
.backing-products__product-price-to-pay [type=number] {
  width: 40%;
  border: none;
  font-weight: 700;
  font-size: 0.95rem;
}
.backing-products__product-price-to-pay [type=number]:focus {
  outline: none;
  border-bottom: 1px solid hsl(176deg, 50%, 47%);
}
.backing-products__product-price-to-pay:focus {
  outline-color: hsl(176deg, 72%, 28%);
}
.backing-products__product-continue {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: hsl(176deg, 50%, 47%);
  color: white;
}
.backing-products__product.disable::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5333333333);
  z-index: 1;
}
@media all and (min-width: 1440px) {
  .backing-products__product-indicator {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .backing-products__product-name {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
    padding: 0;
    margin: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .backing-products__product-price {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: start;
    padding: 0;
    margin: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .backing-products__product-left {
    grid-column: 5/6;
    grid-row: 1/2;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .backing-products__product-desc {
    grid-column: 2/6;
    grid-row: 2/3;
    margin: 0;
  }
  .backing-products__product-label {
    grid-column: 1/2;
    margin: 0;
    grid-row: 1/2;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    align-self: center;
    font-size: 1rem;
  }
  .backing-products__product-price-to-pay {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .backing-products__product-continue {
    grid-column: 4/5;
    grid-row: 1/2;
  }
}

.backing-products__product {
  transition: all 100ms ease-in-out;
}
.backing-products__product-overview {
  display: grid;
  margin: 0 0 1rem 0;
}
@media all and (min-width: 1440px) {
  .backing-products__product-overview {
    grid-template-columns: repeat(3, -webkit-min-content) 1fr -webkit-min-content;
    grid-template-columns: repeat(3, min-content) 1fr min-content;
    gap: 1rem;
  }
}
.backing-products__product-pricing {
  -webkit-animation: toggle 150ms ease-in-out;
          animation: toggle 150ms ease-in-out;
  display: grid;
  gap: 1rem;
  padding-top: 1rem;
}
@media all and (min-width: 1440px) {
  .backing-products__product-pricing {
    grid-template-columns: -webkit-min-content 1fr -webkit-min-content -webkit-min-content;
    grid-template-columns: min-content 1fr min-content min-content;
  }
}
.backing-products__product-pricing::after {
  content: "";
  position: absolute;
  width: calc(100% + 3rem);
  justify-self: center;
  height: 2px;
  background-color: hsla(0deg, 0%, 65%, 0.25);
}
.backing-products__product-pricing[hidden] {
  display: none;
}
.backing-products__product--active {
  border: 2px solid hsl(176deg, 50%, 47%);
}
.backing-products__product--active .backing-products__product-indicator #inner {
  fill: hsl(176deg, 50%, 47%);
}
.backing-products__product--active .backing-products__product-overview {
  margin-bottom: 2rem;
}

@-webkit-keyframes toggle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes toggle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
  font-family: Commissioner, sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
}

.picture {
  position: absolute;
  isolation: isolate;
  padding: 0;
  margin: 0;
}
.picture::before {
  content: "";
  inset: 0;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.74), transparent);
  z-index: 1;
}
.picture__mobile {
  width: 100vw;
  max-height: max(40vh, 31rem);
  -o-object-fit: cover;
     object-fit: cover;
}
@media all and (min-width: 1440px) {
  .picture__mobile {
    max-height: max(38rem, 50vh);
  }
}
.picture_desktop {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.631372549) 5%, rgba(204, 204, 204, 0.1333333333) 80%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main {
  margin: min(36%, 10rem) auto 0;
  width: 85%;
  max-width: 40rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
@media all and (min-width: 1440px) {
  .main {
    margin: min(16rem, 15%) auto 0;
    max-width: 55rem;
  }
}/*# sourceMappingURL=style.css.map */