@use "./styles/mixins";
@use "./styles/header";
@use "./styles/variables";
@use "./styles/intro";
@use "./styles/info";
@use "./styles/product";
@use "./styles/backing-products";
*{
  box-sizing: border-box;
  position: relative;
}

body{
  padding: 0;
  margin: 0;
  font-family: Commissioner, sans-serif;
  background-color: #fafafa;
overflow-x: hidden;
}
.picture{
  position: absolute;
isolation: isolate;
  padding: 0;
  margin: 0;
  &::before{
    content: "";
    inset: 0;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.74) , transparent);
    z-index: 1;
  }
  &__mobile{
    width: 100vw;
    max-height:max(40vh, 31rem);
    object-fit: cover;

    @media all and (min-width: variables.$desktop-view) {
      max-height: max(38rem, 50vh);
    }
  }
  &_desktop{
    width: 100%;
  }
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cover{
  background-image: linear-gradient(#000000a1 5%, #cccccc22 80%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main{
  margin: min(36%, 10rem) auto 0;
  width:85%;
  max-width: 40rem;
  border-radius: variables.$border-radius;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  @media all and (min-width: variables.$desktop-view){
    margin: min(16rem, 15%) auto 0;
    max-width: 55rem;

  }
}

